# =======================================================
# GitIgnore '.gitignore'
#     Fabien B. <fabien.bavent@gmail.com>
#
# This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# =======================================================

# -------------------------------------------------------
# We work with black-listed folders but white-listed files
*
!*/

# -------------------------------------------------------
# Remove classic directory
.*/
[Bb]in/
[Bb]uild/
[LL]ib/
[Oo]bj/
[Rr]elease/
[Ss]bin/
[Ss]lib/
[Tt]hird[Pp]arty/
3rd[Pp]arty/
[Tt]est[s]?/

# -------------------------------------------------------
# Add repository files
!.gitignore
!.travis.yml
!README*
!LICENSE*
!COPYING*
!CONTRIB*
!Makefile

# -------------------------------------------------------
# Add all possible source files
!*.c
!*.h
!*.cpp
!*.cc
!*.cxx
!*.hpp
!*.hxx
!*.s
!*.asm

# -------------------------------------------------------
# Add building information and scripts
!*.mk
!*.xml
!*.md
!*.ld

# -------------------------------------------------------
# -------------------------------------------------------